.frm{
  background-color: blanchedalmond;
  border-radius: 5px;
  box-shadow: 0 2px 4px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-left: 55px;
  margin-right: 55px;
}
input{
  margin: 10px;
  padding: 10px;
}
.contain{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.frm:hover{
  background-color: rgb(187, 240, 222);
  box-shadow: 0 8px 16px ;
}
input:hover{
  box-shadow: 0 5px 10px black;
  outline: none;
  color: rgb(94, 84, 72);
  font-size: 15px;
  transition: 0.5s;
}
label{
  font-size: large;
}
label:hover{
  font-size: larger;
  font-weight: 1000;
  text-shadow: 0 2px 4px rgb(136, 112, 112);
}

.btn{
  padding: 5px;
}
button{
  background-color: rgb(138, 190, 130);
  box-shadow: 0 2px 4px;
  width: 100px; 
    height: 50px; 
    font-size: 16px;
}
button:hover{
  background-color: rgb(164, 129, 129);
  box-shadow:  2px 4px;
}
