body{
  background-color:rgb(132, 98, 98);
}
h2{
  font-size: 30px;
  text-shadow: 0 4px 4px orange;
}
.container{
  background-color: blanchedalmond;
  padding-bottom: 15px;
  border-radius: 6px;
  width: 500px;
  display:flex;
  flex-direction: column  ;
  margin-top: 50px;
  box-shadow: 0 4px 8px black;
}
.container:hover{
  box-shadow: 0 20px 20px;
}
.data{
  background-color: rgb(130, 179, 179);
  padding-bottom: 5px;
  margin: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-weight:bold;
  box-shadow: 0 4px 8px black;
}
.data:hover{
  box-shadow: 10px 10px;
  transition: 0.5s;
  background-color: rgb(222, 178, 117);
}
.Flex {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  margin-left: 50px;
  margin-bottom: 50px;
}
.add{
  padding-top: 10px;
  background-color: blanchedalmond;
  border-radius: 5px;
  box-shadow: 0 2px 4px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 30px;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px black;
}
.add:hover{
  background-color: rgb(187, 240, 222);
}
